:root {
    --color-logo-font: #000000;

    --color-bg: #d2f9f9;

    --color-search-bar: #ffffff;
    --color-search-option: #ffffff;
    --color-search-font: rgba(255, 255, 255, 0.92);
    --color-search-suggest-font: rgba(255, 255, 255, 0.8);

    --color-button-elevated: rgba(0, 0, 0, 0.1);

    --color-settings-bg: #222222;
    --color-settings-menu-bg: #2222222;
    --color-settings-menu-elevated: #333333;
    --color-settings-menu-font: #ffffff;
    --color-settings-form-bg: #444444;
    --color-settings-form-title: #ffffff;
    --color-settings-form-content: #ffffffcc;
}